<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFPopupMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D103EA1E1F49A51E003E424F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D103EA371F49A51E003E424F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D103EA421F49A51E003E424F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
